{% extends 'base.html' %}
{% block title %}
	Главная страница
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="./static/home.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/calendar-today.css' rel='stylesheet'>
    <style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
    {{ super() }}
	<div class="content">




        <div class="main">
            <main>
                <h1 class="text-black">Проект: Календарь</h1>

            </main>
        </div>


        <div class="parallax"></div>

        <div class="txt">


            <div class="fix">
                <h3 class="center text-white">Календарь играет важную роль в организации дистанционного обучения.</h3>
            </div>






        </div>
         <!-- Grid -->
  <div class="gridcontent">
    <div class="w3-center w3-padding-0">

        <span class="w3-large w3-bottombar w3-border-white w3-padding-16 text-white">Какие плюсы имеются?</span>
        <p class="gridcontent-p">Вот как календарь может быть связан с дистанционным образованием</p>
    </div>
    <div class='column'>
        <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
          <h3>Планирование</h3>
          <p> Планирование учебного графика: Календарь позволяет студентам и преподавателям планировать и отслеживать даты лекций, семинаров, заданий и сроков сдачи.</p>
        </div>

        <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
          <h3>Интеграция с платформами</h3>
          <p>Календари могут интегрироваться с платформами дистанционного обучения, что упрощает доступ к онлайн-курсам.</p>
        </div>

        <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
          <h3>Следование академическому году</h3>
          <p>Календарь может быть настроен для отслеживания академического года, включая семестры, каникулы и экзаменационные сессии.</p>
        </div>

        <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
          <h3>Визуализация учебного плана</h3>
          <p>Календарь позволяет визуализировать учебный план и видеть, какие события и задания находятся впереди.</p>
        </div>
    </div>

  </div>
        <div class="box">
            <table class="boxt">



            </table>
        </div>
        <!-- First Grid -->

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Дистанционное обучение</h1>
      <h5 class="w3-padding-32">Календарь является мощным инструментом для организации и управления дистанционным обучением. Он помогает студентам и преподавателям оставаться организованными, соблюдать сроки и достигать академического успеха в онлайн-образовании.</h5>

      <p class="w3-text-grey">Дистанционное обучение - это форма образования, при которой студенты и преподаватели не физически присутствуют в одном месте, а взаимодействуют через различные технологические средства. Студенты могут обучаться из любого места и в удобное для них время, что удобно для тех, кто работает или имеет другие обязанности. Дистанционное обучение дает доступ к множеству онлайн-курсов и программам, включая те, которые предоставляются ведущими университетами и специализированными платформами.Учеба удаленно позволяет избежать потери времени и денег на дорогу и проживание в другом городе.</p>
    </div>
  </div>
</div>
<div class="author">

        <div class="w3-container w3-black w3-center w3-opacity">
            <p class="w3-margin">об авторе</p>
            <h6 class="w3-margin">Елнур Зейнолла - ученик СФЕКА</h6>
        </div>
</div>




    </div>
{% endblock %}